<link rel="stylesheet" href="{{ 'snippet-cart-drawer.css' | asset_url }}">
<link
  rel="stylesheet"
  media="print"
  onload="this.media='all'"
  href="{{ 'snippet-cart-recommendation.css' | asset_url }}"
>

{% assign product_list = section.settings.recommendation_product_list | where: 'available', true %}

<script defer="defer" src="{{ 'cart-drawer.js' | asset_url }}"></script>
<cart-drawer-component
  aria-hidden="true"
  class="d-block drawer color-{{ settings.drawer_color_scheme }}"
  drawer-type="cart-drawer"
  watch-for-mutation
>
  <div class="drawer__container">
    <div class="drawer__overlay" drawer-overlay></div>
    <div class="{%- if product_list.size > 0 -%} border-radius--none {%- endif %} drawer__wrapper drawer__wrapper--animation-position-right">
      {% comment %} Drawer Header Area {% endcomment %}
      <div class="drawer__header">
        <div class="position-relative w-100">
          <div class="d-flex justify-content-space-btw align-item-center w-100 drawer__header__inner__wrapper">
            <div class="drawer__header__left w-100 d-flex me-2">
              <button
                class="drawer__close__btn"
                aria-label="{{ 'accessibility.close_drawer' | t }} {{ 'general.drawer.cart.drawer_text' | t }}"
                close-drawer
              >
                {%- render 'icon' with 'close-drawer' -%}
              </button>
              <h2 class="drawer__head">{{ 'general.drawer.cart.drawer_text' | t }}</h2>
            </div>
            {% if section.settings.view_cart_link %}
              <div class="drawer__header__right ">
                <a class="link" href="{{ routes.cart_url }}"
                  ><span>{{ 'general.drawer.cart.drawer_link_text' | t }}</span></a
                >
              </div>
            {% endif %}
          </div>

          {% render 'toast-message', customClassName: 'cart-cart__error', toast_type: 'cart-drawer-errors' %}
        </div>
      </div>

      {% comment %} Drawer Content/Body area {% endcomment %}
      <div
        class="drawer__body"
        style="--free-shipping-color-text: {{ settings.free_shipping_color_text_bar.rgb }}; --free-shipping-color-background: {{ settings.free_shipping_color_background.rgb }};"
      >
        <div class="drawer__body__wrapper p-0">
          <drawer-cart
            class="d-block cart__drawer"
            data-sectionId="{{ section.id }}"
            data-cartItemCount="{{ cart.item_count }}"
            render-section="cart-drawer"
          >
            {% unless cart == empty %}
              <form action="{{ routes.cart_url }}" method="post">
                {%- if settings.show_free_shipping_bar -%}
                  <div class="cart__free__shipping__alignment position-sticky">
                    {% render 'free-shipping-bar' %}
                  </div>
                {%- endif -%}

                <ul class="cart__drawer__items-list">
                  {% for line_item in cart.items %}
                    {% capture product_title %}
                        {{ line_item.product.title | escape }}
                    {% endcapture %}
                    <li class="cart__drawer__item {% if line_item.gift_card %} product-gift {% endif %}">
                      <drawer-item
                        class="d-block"
                        item-key="{{ line_item.key }}"
                        item-quantity="{{ line_item.quantity }}"
                      >
                        <div class="cart__drawer__itemWrap">
                          {% unless line_item.image == blank %}
                            <div class="cart__drawer__imgWrp">
                              {{
                                line_item.image
                                | image_url: width: line_item.image.width
                                | image_tag:
                                  widths: '200',
                                  sizes: '67px',
                                  alt: line_item.product.title,
                                  loading: 'lazy',
                                  class: ''
                              }}
                            </div>
                          {% endunless %}
                          <div class="cart__drawer__itemBody">
                            {%- if settings.show_vendor -%}
                              <p class="fnt-12 cart__drawer__vendor text-capitalize">{{ line_item.product.vendor }}</p>
                            {%- endif -%}
                            <div class="cart__drawer__itemBodyHead">
                              <a class="fnt-14 text-color fnt-body-weight-bold" href="{{ line_item.url }}">
                                {{- line_item.product.title -}}
                              </a>

                              {% comment %} <span class="fnt-16 clr-b ">{{ line_item.final_line_price | money }}</span> {% endcomment %}
                            </div>
                            <div class="cart__drawer__itemDetails">
                              {% comment %} Product Price and props  element {% endcomment %}
                              <div class="cart__drawer__ld-block">
                                {%- if line_item.product.has_only_default_variant == false -%}
                                  <div class="cart__drawer__product-options__wrapper d-inline-flex align-item-center">
                                    {%- for option in line_item.options_with_values -%}
                                      <span class="cart__drawer__product-option fnt-12 {% if line_item.gift_card -%} mt-8 {%- endif -%} ">
                                        {% if line_item.gift_card %}
                                          <span>{{ option.name }}: </span>
                                        {% endif %}
                                        <span>{{ option.value }}</span>
                                      </span>
                                      {% unless forloop.last %}
                                        <span class="option__divider fnt-12">|</span>
                                      {% endunless %}
                                    {%- endfor -%}
                                  </div>
                                {%- endif -%}
                                {% if line_item.properties != empty %}
                                  <div class="cart__drawer__product-properties__wrapper">
                                    {%- for property in line_item.properties -%}
                                      {%- assign property_first_char = property.first | slice: 0 -%}
                                      {%- if property.last != blank and property_first_char != '_' -%}
                                        <div class="cart__drawer__product-properties fnt-12">
                                          <span>{{ property.first }}: </span>
                                          <span>
                                            {%- if property.last contains '/uploads/' -%}
                                              <a
                                                aria-describedby="a11y-new-window-message"
                                                class="link"
                                                href="{{ property.last }}"
                                                target="_blank"
                                              >
                                                {{ property.last | split: '/' | last }}
                                              </a>
                                            {%- else -%}
                                              {{ property.last }}
                                            {%- endif -%}
                                          </span>
                                        </div>
                                      {%- endif -%}
                                    {%- endfor -%}
                                  </div>
                                {% endif %}
                                {% if line_item.selling_plan_allocation != null %}
                                  <p class="cart__drawer__product-options__selling-plan fnt-14 mt-8">
                                    {{ line_item.selling_plan_allocation.selling_plan.name }}
                                  </p>
                                {% endif %}
                                {% if line_item.line_level_discount_allocations.size > 0 %}
                                  <div class="mt-8">
                                    <ul class="cart__drawer__line-discounts">
                                      {% for discount_allocation in line_item.line_level_discount_allocations %}
                                        <li class="d-inline-flex align-item-center fnt-12 d_badge {% if line_item.line_level_discount_allocations.size > 1 and forloop.last != true -%} mt-5 {% endif -%}">
                                          <span class="icon">
                                            {% render 'icon' with 'discount' %}
                                          </span>
                                          <span class="text">
                                            {{ discount_allocation.discount_application.title }}
                                          </span>
                                        </li>
                                      {% endfor %}
                                    </ul>
                                  </div>
                                {% endif %}
                                {% comment %} Uncomment below code to show line item price {% endcomment %}
                                {% comment %}
                                  <div class="product-price__wrapper cart__drawer__itemPrice">
                                    {%- if line_item.original_price != line_item.final_price -%}
                                      <p class="cart__drawer__line-price fnt-16">
                                        <del class="cart__drawer__old-price original-price">
                                          {%- if settings.currency_code_enabled -%}
                                            {{- line_item.original_price | money_with_currency -}}
                                          {%- else -%}
                                            {{- line_item.original_price | money -}}
                                          {%- endif -%}
                                        </del>
                                        <strong class="cart__drawer__final-price price">
                                          {%- if settings.currency_code_enabled -%}
                                            {{- line_item.final_price | money_with_currency -}}
                                          {%- else -%}
                                            {{- line_item.final_price | money -}}
                                          {%- endif -%}
                                        </strong>
                                      </p>
                                    {%- else -%}
                                      <p class="cart__drawer__price price">
                                        {%- if settings.currency_code_enabled -%}
                                          {{- line_item.original_price | money_with_currency -}}
                                        {%- else -%}
                                          {{- line_item.original_price | money -}}
                                        {%- endif -%}
                                      </p>
                                    {%- endif -%}
                                  </div>
                                {% endcomment %}
                                <div class="cart__drawer__prices product-price__wrapper ">
                                  <div class="{% if line_item.unit_price_measurement -%}add-bottom-spacing{%- endif -%}">
                                    {%- if line_item.original_line_price != line_item.final_line_price -%}
                                      <p class="cart__drawer__discounted-prices fnt-14">
                                        {% comment %}
                                          <span class="visually-hidden">
                                            {{ 'products.product.price.regular_price' | t }}
                                          </span>
                                        {% endcomment %}
                                        <del class="cart__drawer__old-price original-price text-color">
                                          {%- if settings.currency_code_enabled -%}
                                            {{- line_item.original_line_price | money_with_currency -}}
                                          {%- else -%}
                                            {{- line_item.original_line_price | money -}}
                                          {%- endif -%}
                                        </del>

                                        {% comment %}
                                          <span class="visually-hidden">
                                            {{ 'products.product.price.sale_price' | t }}
                                          </span>
                                        {% endcomment %}
                                        <span class="cart__drawer__final-price price text-label-bg-color">
                                          {%- if settings.currency_code_enabled -%}
                                            {{- line_item.final_line_price | money_with_currency -}}
                                          {%- else -%}
                                            {{- line_item.final_line_price | money -}}
                                          {%- endif -%}
                                        </span>
                                      </p>
                                    {%- else -%}
                                      <p class="product-option price text-color fnt-14">
                                        {%- if settings.currency_code_enabled -%}
                                          {{- line_item.original_line_price | money_with_currency -}}
                                        {%- else -%}
                                          {{- line_item.original_line_price | money -}}
                                        {%- endif -%}
                                      </p>
                                    {%- endif -%}
                                  </div>
                                  {%- if line_item.variant.available and line_item.unit_price_measurement -%}
                                    <div class="unit-price caption fnt-12 add-bottom-spacing">
                                      <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                                      {{ line_item.variant.unit_price | money }}
                                      <span aria-hidden="true">/</span>
                                      <span class="visually-hidden"
                                        >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                                      >
                                      {%- if line_item.variant.unit_price_measurement.reference_value != 1 -%}
                                        {{- line_item.variant.unit_price_measurement.reference_value -}}
                                      {%- endif -%}
                                      {{ line_item.variant.unit_price_measurement.reference_unit }}
                                    </div>
                                  {%- endif -%}
                                </div>
                                <div class="d-flex align-item-center mt-12">
                                  <div class="cart__drawer__quantity product-quantity__selector-wrapper d-flex-shrink-0">
                                    <quantity-selector class="product-quantity__selector d-flex w-100">
                                      <button
                                        aria-label="{{ 'products.product.quantity.decrease' | t: product: product_title }}"
                                        decrease-value
                                        type="button"
                                      >
                                        {% render 'icon' with 'minus',
                                          color_var: 'rgb(var(--color-input-color-rgb)/ 1)'
                                        %}
                                      </button>
                                      <label for="quantity-{{ line_item.key }}" class="visually-hidden">Quantity</label>
                                      <input
                                        id="quantity-{{ line_item.key }}"
                                        class="fnt-16"
                                        max="{%- unless line_item.variant.quantity_rule.max == nil -%}{{ line_item.variant.quantity_rule.max }}{%- else -%} null {%- endunless -%}"
                                        min="{%- unless line_item.variant.quantity_rule.min == nil -%}{{ line_item.variant.quantity_rule.min }}{%- else -%} 1 {%- endunless -%}"
                                        name="quantity"
                                        step="{{ line_item.variant.quantity_rule.increment }}"
                                        type="number"
                                        aria-label="{{ 'products.product.quantity.quantity_title' | t: product: product_title }}"
                                        value="{{ line_item.quantity }}"
                                      >
                                      <button
                                        aria-label="{{ 'products.product.quantity.increase' | t: product: product_title }}"
                                        increase-value
                                        type="button"
                                      >
                                        {% render 'icon' with 'plus',
                                          color_var: 'rgb(var(--color-input-color-rgb)/ 1)'
                                        %}
                                      </button>
                                    </quantity-selector>
                                  </div>
                                  <div
                                    class="link remove__lineItem fnt-12"
                                    aria-label="{{ 'accessibility.cart_remove' | t: title: product_title }}"
                                    remove-lineItem
                                    tabindex="0"
                                  >
                                    <span>{{ 'general.drawer.cart.remove' | t }} </span>
                                  </div>
                                </div>
                              </div>

                              {% comment %} Product Quantity element {% endcomment %}
                            </div>
                            {% render 'custom-message', customClassName: 'lineItem-ajax__message mb-2  mt-8', custom_id: line_item.index | plus: 1 %}
                          </div>
                        </div>
                      </drawer-item>
                    </li>
                  {% endfor %}
                </ul>
                <div class="drawer__action__btn" get-element-height>
                  {% if settings.enable_order_note %}
                    <accordion-tab>
                      <details accordiontab aria-expanded="false" class="cart__drawer__note d-block accordion__item">
                        <summary>
                          <div class="cart__drawer__note__head accordion__item__head">
                            <h3 class="fnt-16 clr-b m-0">{{ 'cart.order.note' | t }}</h3>
                          </div>
                        </summary>
                        <div accordionbody class="accordion__item__body">
                          <div class="cart__drawer__note__textarea">
                            <label for="cart-note" class="visually-hidden">{{ 'cart.order.label' | t }}</label>
                            <textarea
                              class="w-100 fnt-16"
                              is="cart-note"
                              name="note"
                            >{{ cart.note | strip }}</textarea>
                          </div>
                        </div>
                      </details>
                    </accordion-tab>
                  {% endif %}
                  {% if cart.cart_level_discount_applications.size > 0 %}
                    <div class="cart-drawer__cartLevel__discountWrapper">
                      {% for discount_application in cart.cart_level_discount_applications %}
                        <div class="cart-drawer__cartLevel__discount d-flex align-item-center mb-1">
                          <p class="fnt-12 d_badge mb-0 d-flex align-item-center">
                            <span class="icon">
                              {% render 'icon' with 'discount' %}
                            </span>
                            <span class="text">
                              {{ discount_application.title }}
                            </span>
                          </p>
                          <p cart-total class="price text-label-bg-color text-right fnt-16 mb-0">
                            -
                            {% if settings.currency_code_enabled -%}
                              {{ discount_application.total_allocated_amount | money_with_currency -}}
                            {%- else -%}
                              {{ discount_application.total_allocated_amount | money -}}
                            {%- endif -%}
                          </p>
                        </div>
                      {% endfor %}
                    </div>
                  {% endif %}
                  <div class="cart-drawer__checkoutButtons">
                    <button
                      class="btn btn--fill w-100 cart-drawer__checkoutButtons-normal"
                      name="checkout"
                      type="submit"
                    >
                      <span>
                        {%- if settings.currency_code_enabled -%}
                          {{- cart.total_price | money_with_currency -}}
                        {%- else -%}
                          {{- cart.total_price | money -}}
                        {%- endif -%}
                      </span>
                      -
                      {{ 'cart.checkout' | t }}
                    </button>
                    {% if settings.show_additional_checkout_buttons %}
                      {%- if additional_checkout_buttons -%}
                        <div class="cart-drawer__checkoutButtons-additional">
                          <additional-checkout-buttons-animation>
                            <div
                              class="cart__drawer__checkoutButtons-more-checkout-buttons-wrapper"
                              checkout-buttons-wrapper
                            >
                              {{ content_for_additional_checkout_buttons }}
                            </div>
                            <button toggle-payment-buttons class="btn btn--transparent btn-show-more-checkout-button">
                              {{ 'cart.additional_checkout_buttons' | t }}
                              <span class="caret-icon"> {% render 'icon' with 'caret' %}</span>
                            </button>
                          </additional-checkout-buttons-animation>
                        </div>
                      {%- endif -%}
                    {% endif %}
                  </div>
                  <p class="tax-note caption-large rte text-color text-center fnt-12">
                    {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                      {{ 'cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                    {%- elsif cart.taxes_included -%}
                      {{ 'cart.taxes_included_but_shipping_at_checkout' | t }}
                    {%- elsif shop.shipping_policy.body != blank -%}
                      {{ 'cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                    {%- else -%}
                      {{ 'cart.taxes_and_shipping_at_checkout' | t }}
                    {%- endif -%}
                  </p>
                </div>
              </form>

              {% comment %} Free shipping amount calculator {% endcomment %}
            {% else %}
              <div class="empty__cart d-flex align-item-center {% if product_list.size > 0 -%} empty__cart-with-recommondation {%- endif -%}">
                <div class="empty__cart__wrapper w-100 text-center">
                  <h2 class="empty__cart__header">{{ 'cart.empty_drawer_heading' | t }}</h2>
                  <p class="empty__cart__para">{{ 'cart.empty_drawer_paragraph' | t }}</p>
                  <a
                    class="btn btn--border empty__cart__cta"
                    href="{{ settings.cart_empty_button_link | default: routes.all_products_collection_url }}"
                  >
                    {{- 'cart.empty_drawer_shoping_link_text' | t -}}
                  </a>
                </div>
              </div>
            {% endunless %}
          </drawer-cart>
          {% comment %} Cart Recommendations {% endcomment %}
          {%- if product_list.size > 0 -%}
            <div class="cart__recommendation__position">
              <cart-recommendation
                recommendation-limit="10"
                recommendation-logic="related"
                recommendation-section="cart-recommendation"
                recommendation-type="manual_recommendation"
              >
                <div class="recommendation__wrapper border-radius--menu-drawer">
                  <h2 class="mb-24 fnt-20 fnt-body recommendation__head color-{{ settings.drawer_color_scheme }}">
                    {{ section.settings.cart_recommendation_title }}
                  </h2>
                  <recommendation-carousel class="cart__recommendation swiper" recommendation-main>
                    <div class="swiper-container" main-slider>
                      <div class="swiper-wrapper" product-recommendation>
                        {% render 'cart-recommendation', section: section, products: product_list %}
                      </div>
                    </div>
                  </recommendation-carousel>
                </div>
              </cart-recommendation>
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</cart-drawer-component>
