
    {% liquid 
     assign fill = fill | default: false
    %}
    {% if text_background %} 

    {% endif %}
    {%assign split_classes = wrapper_class | split: ',' %}
    {% assign primary_class = split_classes.first %}
    {% assign secondary_class = split_classes.last %}
    <div class="text-image {{primary_class}}__text-image {{primary_class}} {{primary_class}}__text-image-{{id}} {% if split_classes.size > 1 %} {{ secondary_class }} {% endif %} {% if top_overlay_mobile == true %}text-image__overlay-reverse{% endif %}" 
     
      {% if promotion and promotion_name != blank %}
        data-promotion data-promotion-name="{{- promotion_name -}}" data-promotion-id="{{- promotion_name | handleize -}}"
        data-creative-name = "{{ promotion_creative_name }}"
      {% endif %}>

    {% if button_url != blank  and button != blank %}
     <div class="text-image__button {% if hide_mobile == true %}button__hide_button{% endif%} {% if hide_button_mobile == true %}button__hide_button{% endif%}">
      <a class="button button__custom-button {{wrapper_class}}__cta text__cta" href="{{ button_url }}"><span class="btn-text button__btn-text"> {{ button }} </span></a> 
     </div>
    {% endif %}
    
    {% assign bottom_overlay = bottom_overlay | default: false %}
    {% if image_desktop != blank or image_mobile != blank %}
     <div class="text-image__image-wrapper image {{primary_class}}__image-wrapper {% if split_classes.size > 1 %} {{ secondary_class }} {% endif %} {% if overlay == false and bottom_overlay == false %} image--no-radius {% endif%}
        {% if is_half_width %} text-image__image-wrapper--half-width {{primary_class}}__image-wrapper--half-width {% endif %}">
        {% liquid
          if section.settings.media_size == 'adapt' and block.settings.image != blank
            assign ratio = block.settings.image.aspect_ratio
            if block.settings.image_mobile != blank
              assign mobile_ratio = block.settings.image_mobile.aspect_ratio
            endif
          endif
        %}
       
        <div
          class="imageWithText__media imageWithText__block-position block-media-size--{{ section.settings.media_size }} {%  if noFullWidth and bg_foregound_color or section.settings.color_scheme.settings.background == "rgba(0,0,0,0)" %} {% if textBlockSize > 0 %} border-radius border-radius--block {% endif %}  {% endif %}"
          {{ block.shopify_attributes }}
          style="
            {%- if section.settings.media_size == 'adapt' -%}
              --aspect-ratio: {{ ratio }};
              {% if block.settings.image_mobile != blank %}
              --mobile-aspect-ratio: {{ mobile_ratio }};
              {% endif %}
            {%- endif -%} {%- if forloop.first -%} --media-width: {{ section.settings.media_width | append : "%" }} {%- else -%} flex-grow:1; {%- endif -%}
          "
        >
          {% if block.settings.image != blank %}
            <div class="imageWithTextImageContainer image-with-text-media {% if block.settings.image_mobile != blank %} tab-only {% endif %}">
              <animation-reveal
                class="imageWithTextImageContainer"
                aoi-type="scale"
                aoi-duration="0.5"
                aoi-amount="0.2"
              >
                {%- capture imagealt -%}
                        {{ block.settings.image.alt | default: 'image' }}
                      {%- endcapture -%}
                {{
                  block.settings.image
                  | image_url: width: block.settings.image.width
                  | image_tag:
                    loading: loading,
                    fetchpriority: fetchpriority,
                    sizes: sizes,
                    widths: widths,
                    class: 'set-100-percentage-size-media',
                    alt: imagealt
                }}
              </animation-reveal>
            </div>
           
          {% else %}
            <div class="imageWithTextImageContainer image-with-text-media {% if block.settings.image_mobile != blank %} tab-only {% endif %}">
              <animation-reveal
                class="imageWithTextImageContainer"
                aoi-type="scale"
                aoi-duration="0.7"
                aoi-amount="0.2"
              >
                {{ 'hero-apparel-1' | placeholder_svg_tag }}
              </animation-reveal>
            </div>
          {% endif %}

          {% if block.settings.image_mobile != blank %}
            <div class="imageWithTextImageContainer image-with-text-media {% if block.settings.image_mobile != blank %} mobile-sm-only {% endif %}">
              <animation-reveal
                class="imageWithTextImageContainer"
                aoi-type="scale"
                aoi-duration="0.5"
                aoi-amount="0.2"
              >
                {%- capture imagealt -%}
                      {{ block.settings.image_mobile.alt | default: 'image' }}
                    {%- endcapture -%}
                {{
                  block.settings.image_mobile
                  | image_url: width: block.settings.image_mobile.width
                  | image_tag:
                    loading: loading,
                    fetchpriority: fetchpriority,
                    sizes: sizes,
                    widths: widths,
                    class: 'set-100-percentage-size-media',
                    alt: imagealt
                }}
              </animation-reveal>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% if teaser_subheading != blank or teaser != blank or eyebrow != blank or heading != blank or subheading != blank or cta_text != blank %}
      <div class="text-image__text-wrapper text-image__text-wrapper-{{id}} content {{primary_class}}__text-wrapper {% if split_classes.size > 1 %} {{ secondary_class }} {% endif %}  {% if overlay == false %} text-image__text-wrapper--no-overlay {% endif%}{% if hide_mobile == true %}text-image__text-wrapper--no-overlay__mobile{% endif%} {% if subheading != blank or cta_text != blank %}text-image__justify-between{% endif %}"
      >
        {% render 'text', 
            id: id,
            color: color, 
            eyebrow: eyebrow, 
            heading: heading , 
            heading_tag: heading_tag,
            subheading: subheading ,
            heading_block_one:heading_block1,
            subheading_block_one:subheading_block1,
            heading_block_two:heading_block2,
            subheading_block_two:subheading_block2,
            cta_text: cta_text, 
            wrapper_class: text_wrapper_class,
            inline_heading: inline_heading,
            inline_cta: inline_cta,
            cta_url: cta_url,
            button_type: button_type,
            button_background_type: button_background_type,
            cta_arrow: cta_arrow,
            secondary_button_type: secondary_button_type,
            logo:logo,
            teaser_subheading:teaser_subheading,
            teaser:teaser,
          %}
      </div>
    {% endif %}
  </div>