{% comment %} Mega menu dropdown  {% endcomment %}
<div details-dropdown class="mega-menu-dropdown color-{{ colorScheme }}">
  <div class="mega-menu-container">
    <div class="container mega-menu-dropdown__container dropdown-menu__mega-menu-dropdown">
      <ul
        class="mega-menu__list mega-menu__list--product dropdown-menu__list"
        aria-labell="{{ link.title }}"
        role="list"
      >
        {% if block.settings.show_heading %}
          <li class="m-0">
            {% if block.settings.product_heading != blank %}
              <h3 class="mega-menu__heading m-0">{{ block.settings.product_heading }}</h3>
            {% else %}
              <h3 class="mega-menu__heading m-0">{{ block.settings.mega_menu_trigger }}</h3>
            {% endif %}
          </li>
        {% endif %}
        {%- for childlink in link.links -%}
          <li class="dropdown-menu__item dropdown-menu__item--first-child" animate-dropdown-item>
            {%- if childlink.links == blank -%}
              <div>
                <a
                  menu-item
                  href="{{ childlink.url }}"
                  class="{% if childlink.current %} active{% endif %} menu-main-link fnt-16"
                  {% if childlink.current %}
                    aria-current="page"
                  {% endif %}
                >
                  {{ childlink.title | escape }}
                </a>
              </div>
            {% else %}
              <header-menu-trigger data-identefier="child-element" data-trigger="{{ dropdown_trigger_type }}">
                <details role="menuitem" aria-haspopup="true" aria-expanded="false">
                  <summary menu-item role="button">
                    <span class="menu-main-link link-head fnt-16">
                      {{ childlink.title | escape }}
                    </span>
                    <span class="arrow-icon">
                      {% render 'slider-arrow-icon' %}
                    </span>
                  </summary>
                  <ul
                    details-dropdown
                    role="list"
                    aria-label="{{ childlink.title }}"
                    class="dropdown-menu__list dropdown-menu__list--child-list"
                  >
                    {%- for grandchildlink in childlink.links -%}
                      <li class="dropdown-menu__item" animate-dropdown-item>
                        <a
                          role="menuitem"
                          href="{{ grandchildlink.url }}"
                          class="{% if grandchildlink.current %} active{% endif %} menu-main-link fnt-14"
                          {% if grandchildlink.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          {{ grandchildlink.title | escape }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </details>
              </header-menu-trigger>
            {% endif %}
          </li>
        {% endfor %}
      </ul>

      <div class="product-promotions">
        {% liquid
          if block.settings.products != blank
            assign products = block.settings.products
          elsif block.settings.collection != blank
            assign products = block.settings.collection.products
          endif
        %}
        {% render 'section-heading',
          section: block,
          viewall_url: block.settings.link_url,
          heading_style: 'h4',
          accessibiity_label: accessible_label
        %}
        <ul>
          {% for product in products limit: 4 %}
            <li>
              {%- render 'card-product-link',
                product: product,
                product_image_loading: loading,
                product_image_fetchpriority: fetchpriority,
                index: forloop.index0
              -%}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
