{% comment %} {% assign video_aspect_ratio = aspect_ratio | default: "0.9" %}
{% assign min = 100 %}
{% assign max = 10000 %}
{% assign diff = max | minus: min %}
{% assign generated_video_id = "now" | date: "%N" | modulo: diff | plus: min %}

<style>
  /* Ensure the video wrapper maintains the specified aspect ratio */
 

  /* Style the iframe to fill the wrapper */
  #Video-{{ generated_video_id }} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  #VideoWrapper-{{ generated_video_id }} {
    position: relative;
    width: 100%;
    max-width: {{ max_width | default: '720' }}px;
    padding-top: {{ 100 | divided_by: video_aspect_ratio }}%;
    overflow: hidden;
  }  
</style>

<iframe
    id="Video-{{ generated_video_id }}"
    src="{{ video | replace: 'watch?v=', 'embed/' }}"
    allow="autoplay; encrypted-media"
    allowfullscreen
    {% if no_lazyload == false %} loading="lazy" {% endif %}
  >
</iframe>

{% comment %} <noscript>
  <iframe
    src="{{ video | replace: 'watch?v=', 'embed/' }}"
    allow="autoplay; encrypted-media"
    allowfullscreen
    class="{{ wrapper_class }}"
  >
  </iframe>
</noscript> {% endcomment %} {% endcomment %}


{% assign video_aspect_ratio = aspect_ratio | default: "0.9" %}
{% assign min = 100 %}
{% assign max = 10000 %}
{% assign diff = max | minus: min %}
{% assign generated_video_id = "now" | date: "%N" | modulo: diff | plus: min %}

<style>
  /* Ensure the video wrapper maintains the specified aspect ratio */
  #VideoWrapper-{{ generated_video_id }} {
    position: relative;
    width: 100%;
    max-width: {{ max_width | default: '720' }}px;
    padding-top: {{ 100 | divided_by: video_aspect_ratio }}%;
    overflow: hidden;
  }

  /* Style the iframe to fill the wrapper */
  #Video-{{ generated_video_id }} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
</style>

<div id="VideoWrapper-{{ generated_video_id }}">
  <iframe
    id="Video-{{ generated_video_id }}"
    src="{{ video | replace: 'watch?v=', 'embed/' }}"
    allow="autoplay; encrypted-media"
    allowfullscreen
    {% if no_lazyload == false %} loading="lazy" {% endif %}
  >
  </iframe>
</div>

<noscript>
  <iframe
    src="{{ video | replace: 'watch?v=', 'embed/' }}"
    allow="autoplay; encrypted-media"
    allowfullscreen
    class="{{ wrapper_class }}"
  >
  </iframe>
</noscript>
