

{% if video_desktop or video_mobile %}
    {% liquid 
        assign fill = fill | default: false
    %}
    
    {% if text_background %}
    <style>
    .text-video__text-wrapper-{{ id }} {
      background: {{ text_background }};
    }
    </style>
    {% endif %}
    
    {% assign split_classes = wrapper_class | split: ',' %}
    {% assign primary_class = split_classes.first %}
    {% assign secondary_class = split_classes.last %}
    
    <div class="text-video {{primary_class}}__text-video {{primary_class}} {{primary_class}}__text-video-{{id}} {% if split_classes.size > 1 %} {{ secondary_class }} {% endif %}" 
      {% if cta_url %} data-redirect-click data-js-click data-url="{% render 'render-metafield-local-aware-url', cta_url: cta_url %}"{% endif %}
      {% if promotion and promotion_name != blank %}
        data-promotion data-promotion-name="{{- promotion_name -}}" data-promotion-id="{{- promotion_name | handleize -}}"
        data-creative-name="{{ promotion_creative_name }}"
      {% endif %}
    >
    
    {% assign bottom_overlay = bottom_overlay | default: false %}
    <div class="text-video__video-wrapper video {{primary_class}}__video-wrapper {% if split_classes.size > 1 %} {{ secondary_class }} {% endif %} {% if overlay == false and bottom_overlay == false %} video--no-radius {% endif %}
      {% if is_half_width %} text-video__video-wrapper--half-width {{primary_class}}__video-wrapper--half-width {% endif %}
    ">
    
    {% if video_desktop or video_block or poster_image_url %}
       {% render 'shopify-responsive-video', video:video_desktop, aspect_ratio:0.9 , image:poster_image_url %}
    {% endif %}
      
      
    </div>
    
    <div class="text-video__text-wrapper text-video__text-wrapper-{{id}} content {{primary_class}}__text-wrapper {% if split_classes.size > 1 %} {{ secondary_class }} {% endif %} {% if overlay == false %} text-video__text-wrapper--no-overlay {% endif %}"
      {% if cta_url %} onclick="location.href='{{cta_url}}';" {% endif %}
    >
      {% render 'text', 
          id: id,
          color: color, 
          eyebrow: eyebrow, 
          heading: heading , 
          heading_tag: heading_tag,
          subheading: subheading , 
          cta_text: cta_text, 
          wrapper_class: text_wrapper_class,
          inline_heading: inline_heading,
          inline_cta: inline_cta,
          cta_url: cta_url,
          button_type: button_type,
          button_background_type: button_background_type,
          cta_arrow: cta_arrow,
          secondary_button_type: secondary_button_type
        %}
    </div>
  </div>

{% endif %}


