{% comment %}
  Renders an article card for a given blog with settings to either show the image or not.

  Accepts:
  - blog: {Object} Blog object
  - article: {Object} Article object
  - media_aspect_ratio: {String} The setting changes the aspect ratio of the article image, if shown
  - media_height: {String} The setting changes the height of the article image. Overrides media_aspect_ratio.
  - show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default
  - show_author: {String} The setting either show the article author or not. If it's not included it will not show the author by default
  - show_badge: {String} The setting either show the blog badge or not.
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

  Usage:
  {% render 'article-card-featured'  article: article, show_image: section.settings.show_image %}
{% endcomment %}
{%- liquid
  assign loading = 'eager'
  assign fetchpriority = 'auto'
  if section.index == 1
    assign fetchpriority = 'high'
  elsif section.index > 2
    assign loading = 'lazy'
  endif
-%}

{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 | append: 'px' }}
    ;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 | append: 'px' }}
    ;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | append: 'px' }}
      ;
      padding-bottom: {{ section.settings.padding_bottom | append: 'px' }}
      ;
    }
  }
{%- endstyle -%}
{% unless section.settings.border_size == 'hide' %}
  {% if section.settings.border_position == 'both' or section.settings.border_position == 'top' %}
    {% unless section.settings.border_size == 'full_width' %}
      <div class="container">
    {% endunless %}
    <div class="spacer-wrapper color-{{ section.settings.color_scheme }}">
      <div
        class="spacer border-top"
      ></div>
    </div>
    {% unless section.settings.border_size == 'full_width' %}
      </div>
    {% endunless %}
  {% endif %}
{% endunless %}
<div
  aria-label="{{ section.settings.heading }}"
  class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} blogs-section"
  role="region"
>
  <div class="blogs">
    <div class="container">
      {% assign featured_blog_link = section.settings.blog.url %}
      {% capture accessible_label %}
        {{- 'accessibility.blog_view_all' | t -}}
      {% endcapture %}
      {% render 'section-heading',
        section: section,
        viewall_url: featured_blog_link,
        accessibiity_label: accessible_label
      %}

      <animation-reveal
        aoi-type="fade-up"
        aoi-amount="0.2"
        class="blogs__container grid-layout grid-layout--3-desktop grid-layout--1-mobile"
      >
        {% if section.settings.blog != blank %}
          {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
            <div class="blogs__card-container">
              {%
                render 'article-card-featured'
                , article: article
                , show_image: section.settings.show_image
                , show_author: section.settings.show_author
                , show_date: section.settings.show_date
                , show_tags: section.settings.show_tags
                , show_title: section.settings.show_title
                , show_excerpt: section.settings.show_excerpt
                , show_comments: section.settings.show_comments
                , media_aspect_ratio: section.settings.image_aspect_ratio
                , index: forloop.index0
                , article_image_loading: loading
                , article_image_fetchpriority: fetchpriority,
                , blog: section.settings.blog
              %}
            </div>
          {%- endfor -%}
        {%- else -%}
          {%- for i in (1..section.settings.post_limit) -%}
            {% render 'article-card-featured',
              show_image: section.settings.show_image,
              show_author: section.settings.show_author,
              show_date: section.settings.show_date,
              show_tags: section.settings.show_tags,
              show_title: section.settings.show_title,
              show_excerpt: section.settings.show_excerpt,
              show_comments: section.settings.show_comments,
              media_aspect_ratio: section.settings.image_aspect_ratio,
              onboarding: true,
              index: forloop.index0,
              article_image_loading: loading,
              article_image_fetchpriority: fetchpriority
            %}
          {%- endfor -%}
        {%- endif -%}
      </animation-reveal>
    </div>
  </div>
</div>
{% unless section.settings.border_size == 'hide' %}
  {% if section.settings.border_position == 'both' or section.settings.border_position == 'bottom' %}
    {% unless section.settings.border_size == 'full_width' %}
      <div class="container">
    {% endunless %}
    <div class="spacer-wrapper color-{{ section.settings.color_scheme }}">
      <div
        class="spacer border-bottom"
      ></div>
    </div>
    {% unless section.settings.border_size == 'full_width' %}
      </div>
    {% endunless %}
  {% endif %}
{% endunless %}
{% schema %}
{
  "name": "Blog posts",
  "tag": "section",
  "max_blocks": 1,
  "blocks": [],
  "settings": [
    {
      "type": "header",
      "content": "Blog settings"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Select blog"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "Articles to show"
    },
    {
      "type": "header",
      "content": "Blog articles"
    },
    {
      "type": "select",
      "id": "image_aspect_ratio",
      "label": "Image ratio",
      "options": [
        {
          "label": "Portrait (3:4)",
          "value": "portrait"
        },
        {
          "label": "Square (1:1)",
          "value": "square"
        },
        {
          "label": "Adapt to image",
          "value": "adapt"
        },
        {
          "label": "Landspace (4:3)",
          "value": "landscape"
        }
      ],
      "default": "adapt"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "label": "Show image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "Show excerpt",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show tags",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_comments",
      "label": "Show comment count",
      "default": true
    },
    {
      "type": "header",
      "content": "Section content"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Featured Blogs"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "checkbox",
      "id": "show_view_all_button",
      "label": "Show view all link",
      "default": true
    },
    {
      "type": "select",
      "id": "view_all_link_style",
      "label": "Link style",
      "options": [
        {
          "value": "icon",
          "label": "Arrow"
        },
        {
          "value": "text",
          "label": "Text"
        }
      ],
      "default": "text"
    },
    {
      "type": "select",
      "id": "view_all_link_position",
      "label": "Desktop link position",
      "options": [
        {
          "value": "start",
          "label": "Start"
        },
        {
          "value": "end",
          "label": "end"
        }
      ],
      "default": "end"
    },
    {
      "type": "text",
      "id": "view_all_link_text",
      "label": "Link text",
      "default": "View all",
      "info": "Will only work when link style is set to 'text' ",
      "placeholder": "Link text"
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:settings_schema.global.section.padding.settings.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:settings_schema.global.section.padding.settings.padding_bottom.label",
      "default": 36
    },
    {
      "type": "select",
      "id": "border_size",
      "label": "Border",
      "options": [
        {
          "label": "Hide",
          "value": "hide"
        },
        {
          "label": "Full width",
          "value": "full_width"
        },
        {
          "label": "Fixed width",
          "value": "fixed_width"
        }
      ],
      "default": "hide"
    },
    {
      "type": "select",
      "id": "border_position",
      "label": "Border position",
      "options": [
        {
          "label": "Both",
          "value": "both"
        },
        {
          "label": "Top",
          "value": "top"
        },
        {
          "label": "Bottom",
          "value": "bottom"
        }
      ],
      "default": "both"
    },

    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "Color scheme"
    }
  ],
  "presets": [
    {
      "name": "Blog posts"
    }
  ],
  "disabled_on": {
    "groups": ["*"]
  }
}
{% endschema %}
