{{ 'section-gallery.css' | asset_url | stylesheet_tag }}
<style>
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 | append: 'px' }}
    ;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 | append: 'px' }}
    ;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | append: 'px' }}
      ;
      padding-bottom: {{ section.settings.padding_bottom | append: 'px' }}
      ;
    }
  }
</style>

{%- liquid
  assign loading = 'eager'
  assign fetchpriority = 'auto'
  assign intersection = ''
  if section.index == 1
    assign fetchpriority = 'high'
  elsif section.index > 2
    assign loading = 'lazy'
    assign intersection = 'intersection-element'
  endif
-%}

{% unless section.settings.border_size == 'hide' %}
  {% if section.settings.border_position == 'both' or section.settings.border_position == 'top' %}
    {% unless section.settings.border_size == 'full_width' %}
      <div class="container">
    {% endunless %}
    <div class="spacer-wrapper color-{{ section.settings.color_scheme }}">
      <div
        class="spacer border-top"
      ></div>
    </div>
    {% unless section.settings.border_size == 'full_width' %}
      </div>
    {% endunless %}
  {% endif %}
{% endunless %}
<div
  aria-label="Image Gallery"
  class="gallery section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}"
  role="region"
>
  <div class="container">
    {% render 'section-only-heading', section: section %}

    {% unless section.settings.layout_style == 'grid' %}
      <carousel-component
        {{ intersection }}
        class="swiper js-element"
        slide-layout-type="carousel"
        slide-pagination-type="bullets"
        slide-per-view="1.2"
        slide-responsive-breakpoints='{"320":{"slidesPerView": "1.2","spaceBetween":{{ section.settings.column_spacing }} },"640":{"slidesPerView":"1.4","spaceBetween":{{ section.settings.column_spacing }}},"768":{"slidesPerView":"2.3","spaceBetween":{{ section.settings.column_spacing }}},"1024":{"slidesPerView": {{ section.settings.number_of_columns }}, "spaceBetween":{{ section.settings.column_spacing }} }}'
        slide-speed="{{ settings.slide_duration }}"
      >
        <div
          class="swiper-container {% if section.settings.column_spacing == '0' %} border-radius border-radius--block {% endif %}"
          main-slider
        >
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              {% liquid
                assign ratio = 1
                if section.settings.image_aspect_ratio == 'portrait'
                  assign ratio = 0.8
                elsif section.settings.image_aspect_ratio == 'landscape'
                  assign ratio = 1.77
                elsif block.settings.image and section.settings.image_aspect_ratio == 'adapt'
                  assign ratio = block.settings.image.aspect_ratio
                endif
                if ratio == 0 or ratio == null
                  assign ratio = 1
                endif

                if block.settings.overlay_color != 'rgba(0,0,0,0)'
                  assign overlay_rgba_color = ''
                  assign overlay_opacity = block.settings.overlay_opacity | times: 1.0 | divided_by: 100
                  assign overlay_rgba_color = block.settings.overlay_color.rgb | append: ' / ' | append: overlay_opacity
                endif
              %}
              <div class="swiper-slide" role="option" {{ block.shopify_attributes }}>
                {% if block.settings.button_link != blank and block.settings.button_label == blank -%}
                  <a
                    href="{{ block.settings.button_link }}"
                    target="{{ block.settings.button_target }}"
                    class="d-block text-decor-none"
                  >
                {%- endif %}
                <div
                  class="gallery__wrp gallery__wrp--{{ section.settings.content_position }} {% if section.settings.column_spacing != '0' %} border-radius border-radius--block {% endif %}"
                  style="--image-ratio: {{ 1 | divided_by: ratio | times: 100 | append: '%;' }} --overlay-bg-color: rgba({{ overlay_rgba_color }})"
                >
                  <div class="gallery__imageWrp">
                    <animation-reveal class="gallery__img" aoi-type="scale" aoi-duration="0.5" aoi-amount="0.3">
                      {% assign imagealt = block.settings.image.alt | default: 'Gallary image' %}
                      {% if block.settings.image != blank %}
                        {%- capture size -%}
                          (min-width:1336px) calc({{ settings.page_width | append: 'px' }} / {{ section.settings.number_of_columns }} - 45px), (min-width:767px) calc(100vw / 2.3 - 50px),calc(100vw / 1.2 - 30px)
                        {%- endcapture -%}
                        {{
                          block.settings.image
                          | image_url: width: block.settings.image.width
                          | image_tag:
                            class: 'gallery__img',
                            loading: loading,
                            widths: '1336,800,600',
                            fetchpriority: fetchpriority,
                            sizes: size,
                            alt: imagealt
                        }}
                      {% else %}
                        {{ 'detailed-apparel-1' | placeholder_svg_tag }}
                      {% endif %}
                    </animation-reveal>
                  </div>

                  <div class="gallery__content  content-position ">
                    <div class="gallery__content-container" style="--block-text-color: {{ block.settings.text_color }}">
                      <div class="gallery__contentWrp text-{{ section.settings.content_alignment }}">
                        <animation-reveal
                          class="d-inline-block"
                          aoi-type="stagger"
                          aoi-delay="0.13"
                          aoi-duration="0.5"
                          aoi-amount="0.8"
                        >
                          <p class="gallery__subheading">{{ block.settings.subheading }}</p>
                          <h3 class="h2 mb-16">{{ block.settings.heading }}</h3>
                          <p class="gallery__description fnt-16">{{ block.settings.description }}</p>
                          {% if block.settings.button_label != blank %}
                            <div class="btn--wrap">
                              <a
                                class="btn {% if section.settings.use_outline_button %} btn--border {% else %} btn--fill {% endif %} "
                                href="{{ block.settings.button_link }}"
                                target="{{ block.settings.button_target }}"
                              >
                                {{- block.settings.button_label -}}
                              </a>
                            </div>
                          {% endif %}
                        </animation-reveal>
                      </div>
                    </div>
                  </div>
                </div>
                {% if block.settings.button_link != blank and block.settings.button_label %}
                  </a>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="sliderControl">
          <div class="sliderProgressBar" slide-progress></div>
          <div class="d-flex sliderPagination">
            <!-- next / prev arrows -->
            <div
              aria-label="{{ 'accessibility.prev_slide_label' | t }}"
              class=""
              role="button"
              slide-prev
              tabindex="0"
            >
              <div class="sliderPagination__prev productSlider__prev">
                {% render 'slider-arrow-icon', arrow_direction: 'left' %}
              </div>
            </div>
            <div
              aria-label="{{ 'accessibility.next_slide_label' | t }}"
              class=""
              role="button"
              slide-next
              tabindex="0"
            >
              <div class="sliderPagination__next productSlider__next">
                {% render 'slider-arrow-icon', arrow_direction: 'right' %}
              </div>
            </div>

            <!-- !next / prev arrows -->
          </div>
        </div>
      </carousel-component>
    {% else %}
      <div
        class="grid-layout grid-layout--{{ section.settings.number_of_columns }}-desktop {% if section.settings.column_spacing == '0' %} border-radius border-radius--block {% endif %}"
        style="--gap: {{ section.settings.column_spacing | append : 'px' }}"
      >
        {% for block in section.blocks %}
          {% liquid
            assign ratio = 1
            if section.settings.image_aspect_ratio == 'portrait'
              assign ratio = 0.8
            elsif section.settings.image_aspect_ratio == 'landscape'
              assign ratio = 1.77
            elsif block.settings.image and section.settings.image_aspect_ratio == 'adapt'
              assign ratio = block.settings.image.aspect_ratio
            endif
            if ratio == 0 or ratio == null
              assign ratio = 1
            endif
            if block.settings.overlay_color != 'rgba(0,0,0,0)'
              assign overlay_rgba_color = ''
              assign overlay_opacity = block.settings.overlay_opacity | times: 1.0 | divided_by: 100
              assign overlay_rgba_color = block.settings.overlay_color.rgb | append: ' / ' | append: overlay_opacity
            endif
          %}
          <div>
            {% if block.settings.button_link != blank and block.settings.button_label == blank -%}
              <a
                href="{{ block.settings.button_link }}"
                target="{{ block.settings.button_target }}"
                class="d-block text-decor-none"
              >
            {%- endif %}
            <div
              class="gallery__wrp gallery__wrp--{{ section.settings.content_position }} {% if section.settings.column_spacing != '0' %} border-radius border-radius--block {% endif %}"
              style="--image-ratio: {{ 1 | divided_by: ratio | times: 100 | append: '%;' }} --overlay-bg-color: rgba({{ overlay_rgba_color }})"
              {{ block.shopify_attributes }}
            >
              <div class="gallery__imageWrp">
                <animation-reveal class="gallery__img" aoi-type="scale" aoi-duration="0.5" aoi-amount="0.3">
                  {% assign imagealt = block.settings.image.alt | default: 'Gallary image' %}
                  {% if block.settings.image != blank %}
                    {% capture size %}
                      (min-width:1336px) calc({{ settings.page_width | append: 'px' }} / {{ section.settings.number_of_columns }} - 45px), (min-width:767px) calc(100vw / 2 - 30px),calc(100vw - 30px)
                    {% endcapture %}
                    {{
                      block.settings.image
                      | image_url: width: block.settings.image.width
                      | image_tag:
                        class: 'gallery__img',
                        sizes: size,
                        loading: loading,
                        fetchpriority: fetchpriority,
                        widths: '1336,800,600',
                        alt: imagealt
                    }}
                  {% else %}
                    {{ 'detailed-apparel-1' | placeholder_svg_tag }}
                  {% endif %}
                </animation-reveal>
              </div>

              <div
                class="gallery__content content-position"
                style="--block-text-color: {{ block.settings.text_color }}"
              >
                <div class="gallery__content-container  ">
                  <div class="gallery__contentWrp text-{{ section.settings.content_alignment }}">
                    <animation-reveal
                      class="d-inline-block"
                      aoi-type="stagger"
                      aoi-delay="0.13"
                      aoi-duration="0.5"
                      aoi-amount="0.8"
                    >
                      <p class="gallery__subheading">{{ block.settings.subheading }}</p>
                      <h3 class="h2 mb-16">{{ block.settings.heading }}</h3>
                      <p class="gallery__description fnt-16">{{ block.settings.description }}</p>
                      {% if block.settings.button_label != blank %}
                        <a
                          class="btn {% if section.settings.use_outline_button %} btn--border {% else %} btn--fill {% endif %}"
                          href="{{ block.settings.button_link }}"
                          target="{{ block.settings.button_target }}"
                        >
                          {{- block.settings.button_label -}}
                        </a>
                      {% endif %}
                    </animation-reveal>
                  </div>
                </div>
              </div>
            </div>
            {% if block.settings.button_link != blank and block.settings.button_label %}</a>{% endif %}
          </div>
        {% endfor %}
      </div>
    {% endunless %}
  </div>
</div>
{% unless section.settings.border_size == 'hide' %}
  {% if section.settings.border_position == 'both' or section.settings.border_position == 'bottom' %}
    {% unless section.settings.border_size == 'full_width' %}
      <div class="container">
    {% endunless %}
    <div class="spacer-wrapper color-{{ section.settings.color_scheme }}">
      <div
        class="spacer border-bottom"
      ></div>
    </div>
    {% unless section.settings.border_size == 'full_width' %}
      </div>
    {% endunless %}
  {% endif %}
{% endunless %}

{% schema %}
{
  "name": "Image gallery",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "layout_style",
      "label": "Layout",
      "options": [
        {
          "label": "Carousel",
          "value": "carousel"
        },
        {
          "label": "Grid",
          "value": "grid"
        }
      ],
      "default": "carousel"
    },
    {
      "type": "select",
      "id": "number_of_columns",
      "label": "Number of columns",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        }
      ],
      "default": "2"
    },
    {
      "type": "header",
      "content": "Section content"
    },
    {
      "type": "text_alignment",
      "id": "heading_content_alignment",
      "label": "Content alignment",
      "default": "left"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "header",
      "content": "Block settings"
    },
    {
      "type": "select",
      "id": "image_aspect_ratio",
      "label": "Image ratio",
      "options": [
        {
          "label": "Portrait (3:4)",
          "value": "portrait"
        },
        {
          "label": "Square (1:1)",
          "value": "square"
        },
        {
          "label": "Adapt to image",
          "value": "adapt"
        },
        {
          "label": "Landspace (4:3)",
          "value": "landscape"
        }
      ],
      "default": "square"
    },

    {
      "type": "text_alignment",
      "id": "content_alignment",
      "label": "Content alignment",
      "default": "left"
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "Content position",
      "options": [
        {
          "label": "Top",
          "value": "top"
        },
        {
          "label": "Center",
          "value": "middle"
        },
        {
          "label": "Bottom",
          "value": "bottom"
        }
      ],
      "default": "top"
    },
    {
      "type": "select",
      "id": "column_spacing",
      "label": "Column spacing",
      "options": [
        {
          "label": "None",
          "value": "0"
        },
        {
          "label": "Small",
          "value": "16"
        },
        {
          "label": "Medium",
          "value": "24"
        },
        {
          "label": "Large",
          "value": "38"
        }
      ],
      "default": "16"
    },
    {
      "type": "checkbox",
      "id": "use_outline_button",
      "label": "Use outline button style",
      "default": false
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:settings_schema.global.section.padding.settings.padding_top.label",
      "default": 32
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:settings_schema.global.section.padding.settings.padding_bottom.label",
      "default": 48
    },
    {
      "type": "select",
      "id": "border_size",
      "label": "Border",
      "options": [
        {
          "label": "Hide",
          "value": "hide"
        },
        {
          "label": "Full width",
          "value": "full_width"
        },
        {
          "label": "Fixed width",
          "value": "fixed_width"
        }
      ],
      "default": "hide"
    },
    {
      "type": "select",
      "id": "border_position",
      "label": "Border position",
      "options": [
        {
          "label": "Both",
          "value": "both"
        },
        {
          "label": "Top",
          "value": "top"
        },
        {
          "label": "Bottom",
          "value": "bottom"
        }
      ],
      "default": "both"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "Color scheme"
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image",
          "info": "1200 x 1200px (square 1:1) recommended"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "content",
          "default": "Briefly describe what this heading is about"
        },
        {
          "type": "text",
          "label": "Button label",
          "id": "button_label",
          "info": "Leave the label blank to hide the button."
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link URL"
        },
        {
          "type": "select",
          "id": "button_target",
          "label": "Open link in",
          "options": [
            {
              "label": "New tab",
              "value": "_blank"
            },
            {
              "label": "Same tab",
              "value": "_top"
            }
          ],
          "default": "_blank"
        },
        {
          "type": "header",
          "content": "Appearance"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Overlay",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Overlay opacity",
          "default": 49
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image gallery",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["*"]
  }
}
{% endschema %}
