{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 | append: 'px' }}
    ;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 | append: 'px' }}
    ;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | append: 'px' }}
      ;
      padding-bottom: {{ section.settings.padding_bottom | append: 'px' }}
      ;
    }
  }
{%- endstyle -%}

<section class="resetPasswordForm section-{{ section.id }}-padding">
  <div class="container">
    {% render 'breadcrumb' %}
  </div>
  {%- form 'reset_customer_password' -%}
    {%- if form.errors -%}
      <section class="error-ms">
        <div class="container">
          <div class="d-v-center justify-content-center">
            {% render 'icon' with 'error' %}
            <span class="error-text">
              {{ 'contact.form.error_message' | t }}</span>
            <ul>
              {%- for field in form.errors -%}
                <li>
                  {%- if field == 'form' -%}
                    {{ form.errors.messages[field] }}
                  {%- else -%}
                    <a class="link link--green" href="#{{ field }}">
                      {{ form.errors.translated_fields[field] | capitalize }}
                      {{ form.errors.messages[field] }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
      </section>
    {%- endif -%}
    <div class="container">
      <div class="account-form">
        <h1 class="h2">{{ 'customer.reset_password.heading' | t }}</h1>

        <div class="form-group mb-24">
          <label for="password">
            {{ 'customer.reset_password.password' | t }}</label>
          <input
            type="password"
            name="customer[password]"
            id="password"
            autocomplete="new-password"
            {% if form.errors contains 'password' %}
            aria-invalid="true"
            aria-describedby="password-error"
            {% endif %}
            placeholder="{{ 'customer.reset_password.password' | t }}">
          {%- if form.errors contains 'password' -%}
            <small class="error-text field-error-text" id="password-error">
              {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}
            </small>
          {%- endif -%}
        </div>
        <div class="form-group mb-24">
          <label for="password_confirmation">
            {{ 'customer.reset_password.password_confirm' | t }}
          </label>
          <input
            type="password"
            name="customer[password_confirmation]"
            id="password_confirmation"
            autocomplete="new-password"
            {% if form.errors contains 'password_confirmation' %}
            aria-invalid="true"
            aria-describedby="password_confirmation-error"
            {% endif %}
            placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
          {%- if form.errors contains 'password_confirmation' -%}
            <small class="error-text field-error-text" id="password_confirmation-error">
              {{ form.errors.translated_fields['password_confirmation'] | capitalize }} {{ form.errors.messages['password_confirmation'] }}
            </small>
          {%- endif -%}

        </div>
        <button class="btn btn--fill w-100 mb-16">{{ 'customer.reset_password.submit' | t }}</button>


      </div>
    </div>
  {%- endform -%}
</section>


{% schema %}
{
  "name": "Reset password",
  "settings": [
    {
      "type": "header",
      "content": "t:settings_schema.global.section.padding.name"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:settings_schema.global.section.padding.settings.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:settings_schema.global.section.padding.settings.padding_bottom.label",
      "default": 36
    }
  ]
}
{% endschema %}
