<script defer src="{{ 'countdown-timer.js' | asset_url }}"></script>
{{ 'sales-banner-section.css' | asset_url | stylesheet_tag }}

{% liquid
  assign loading = 'eager'
  assign fetchpriority = 'auto'
  assign widths = '2000,1440,1024,800,500'

  if section.index == 1
    assign fetchpriority = 'high'
  elsif section.index > 2
    assign loading = 'lazy'
  endif

  assign scrolling_text_block = section.blocks | where: 'type', 'scrolling_text_block' | first
  assign circle_sales_badge = section.blocks | where: 'type', 'circle_sales_badge' | first

  assign heading_block = section.blocks | where: 'type', 'heading' | first
  assign sub_heading_block = section.blocks | where: 'type', 'sub_heading' | first
  assign paragraph_block = section.blocks | where: 'type', 'paragraph' | first
  assign button_block = section.blocks | where: 'type', 'button' | first
  assign countdown_timer_block = section.blocks | where: 'type', 'countdown_timer' | first
  assign bg_foregound_color = false
  if section.settings.color_scheme.settings.background == section.settings.background_color or section.settings.background_color == 'rgba(0,0,0,0)'
    assign bg_foregound_color = true
  endif
%}
{% comment %} Marquee {% endcomment %}
{% unless scrolling_text_block == blank %}
  {% liquid
    assign st-desk_content_align = scrolling_text_block.settings.desk_content_align
    assign st-desk_content_pos = scrolling_text_block.settings.desk_content_pos

    assign st-mob_content_align = scrolling_text_block.settings.mob_content_align
    assign st-mob_content_pos = scrolling_text_block.settings.mob_content_pos
  %}
{% endunless %}

{% comment %} Capturing all marquee and block settings {% endcomment %}
{% capture sizes %}
  (min-width: {{ settings.page_width | append: 'px' }}) {{ settings.page_width | minus: 50 | append: 'px' }},calc(100vw - 30px)
{% endcapture %}

{% style %}
      {% if section.settings.image != blank and section.settings.image_aspect_ratio == 'auto' %}
          @media screen and (max-width: 767px){
              .sales-banner .imageWithText__container{
                  display: flex;
                  flex-direction: column-reverse;
              }
          }
      {% endif %}

      {% if section.settings.image_aspect_ratio == 'fill' %}
          @media screen and (max-width: 480px){
              .sales-banner .mobile-sm-only.mob_content_down.mob_pos_left.mobile-only-marquee{
                  bottom: 8%;
                  top: auto;
              }
          }
      {% endif %}
      {% unless section.settings.full_width %}
      @media screen and (max-width: 480px){
          .sales-badge__circle-parent.mob_pos_right,
          .sales-badge__parent.mob_pos_right{
              right: -15px;
          }
          .sales-badge__circle-parent.mob_pos_left,
          .sales-badge__parent.mob_pos_left{
              left: -15px;
          }
      }
      {% endunless %}

      {% if circle_sales_badge %}
          {% if circle_sales_badge.settings.mob_content_align == 'up' %}
              @media screen and (max-width: 480px){
                  .sales-banner .imageWithText__media{
                      margin-top: 70px;
                  }
                  .sales-banner .imageWithText__container{
                      background-color: {{ section.settings.background_color }};
                  }
              }
          {% endif %}
      {% endif %}

      {% if section.blocks.size <= 3 and scrolling_text_block != blank %}
      @media screen and (max-width: 991px){
          .sales-banner .mobile-sm-only.mob_content_down.mob_pos_right.mobile-only-marquee{
              top: 88%;
          }
          .sales-banner .mobile-sm-only.mob_content_down.mob_pos_left.mobile-only-marquee{
              top: 79%;
          }
      }
          @media screen and (min-width: 768px) and (max-width: 991px){
              .sales-banner .mobile-sm-only.mob_content_down.mob_pos_right.mobile-only-marquee,
              .sales-banner .mobile-sm-only.mob_content_down.mob_pos_left.mobile-only-marquee{
                  top: 75%;
              }
          }
      {% endif %}



      {% if section.blocks.size <= 3 and circle_sales_badge != blank %}
          @media screen and (max-width: 991px){
              .sales-badge__circle-parent.mob_content_down{
                  top: 65%;
              }
          }
      {% endif %}

  .section-{{ section.id }}{
      position: relative;
      background-color: {{ section.settings.background_color }};
  }
  .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.section_padding_top | times: 0.75 | round: 0 | append: 'px;' }}
      padding-bottom: {{ section.settings.section_padding_bottom | times: 0.75 | round: 0 | append: 'px;' }}
  }

  @media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.section_padding_top | append: 'px;' }}
      padding-bottom: {{ section.settings.section_padding_bottom | append: 'px;' }}
  }
  }

  @media screen and (max-width: 991px){
      .sales-banner .imageWithText__media{
          height: var(--media-height);
      }
  }

      {% comment %} Sales Badge Styles {% endcomment %}
      .sales-badge__icon, .sales-badge__curved-letter{
          color: {{ circle_sales_badge.settings.text_color }};
      }
      .sales-badge__parent{
          background-color: {{ circle_sales_badge.settings.bg_color }};
      }
{% endstyle %}
{% unless section.settings.border_size == 'hide' %}
  {% if section.settings.border_position == 'both' or section.settings.border_position == 'top' %}
    {% unless section.settings.border_size == 'full_width' %}
      <div class="container">
    {% endunless %}
    <div class="spacer-wrapper color-{{ section.settings.color_scheme }}">
      <div
        class="spacer border-top"
      ></div>
    </div>
    {% unless section.settings.border_size == 'full_width' %}
      </div>
    {% endunless %}
  {% endif %}
{% endunless %}
<div
  aria-label="{{ 'accessibility.sales-banner.label' | t }}"
  class="sales-banner section-{{ section.id }} section-{{ section.id }}-padding "
  role="region"
  watch-element
>
  {% unless section.settings.full_width %}<div class="container">{% endunless %}
  <div class="imageWithText">
    {% if scrolling_text_block %}
      <div class="mobile-sm-only dekstop-and-tab-styles {% if st-desk_content_align == 'up' %}desk_align_up{% else %}desk_align_down{% endif %} {% if st-desk_content_pos == 'left' %}desk_content_left{% else %}desk_content_right{% endif %}">
        {% render 'sales-marquee', block: scrolling_text_block %}
      </div>
    {% endif %}

    <div class="imageWithText__container image-full image-height position-relative align-item-center {% if section.settings.image_aspect_ratio == 'auto' %} {% if section.settings.image != blank %} image-height--auto {% else %} image-height--md {% endif %} {% else %} image-height--{{ section.settings.image_aspect_ratio }} {% endif %}">
      {% if heading_block or sub_heading_block or paragraph_block or button_block or countdown_timer_block %}
        <div class="imageWithText__content sales-banner__content ">
          <div
            class="imageWithText__wrp text-center text-mobile-center content-width border-radius border-radius--block color-{{ section.settings.color_scheme }} "
            style="--content-width: {{ section.settings.content_width }}px"
          >
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'heading' %}
                  <h2 class="{{ block.settings.style }} text-color" {{ block.shopify_attributes }}>
                    {{ block.settings.heading }}
                  </h2>
                {% when 'sub_heading' %}
                  <p class="mb-2" {{ block.shopify_attributes }}>{{ block.settings.subheading }}</p>
                {% when 'paragraph' %}
                  <div class="imageWithText__desc RTE-content fnt-18 text-color" {{ block.shopify_attributes }}>
                    {{ block.settings.paragraph }}
                  </div>
                {% when 'button' %}
                  <div class="btn--wrap banner--btn">
                    <a
                      class="btn btn--fill"
                      href="{{ block.settings.link_url }}"
                      target="{{ block.settings.link_target }}"
                      {{ block.shopify_attributes }}
                    >
                      {{ block.settings.link_text }}
                    </a>
                  </div>
                {% when 'countdown_timer' %}
                  {% render 'countdown-timer', block: block %}
              {% endcase %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
      <div
        aria-label="Image with text media"
        class="imageWithText__media image-with-text-overlay-media"
        role="region"
      >
        {% if circle_sales_badge %}
          {% render 'circle-sales-badge', block: circle_sales_badge %}
        {% endif %}

        {% if scrolling_text_block %}
          <div class="mobile-sm-only mobile-only-marquee {% if st-mob_content_align == 'up' %} mob_content_up{% else %} mob_content_down{% endif %} {% if st-mob_content_pos == 'left' %} mob_pos_left{% else %} mob_pos_right{% endif %}">
            {% render 'sales-marquee', block: scrolling_text_block %}
          </div>
        {% endif %}

        {% if scrolling_text_block %}
          <div class="tab-only dekstop-and-tab-styles {% if st-desk_content_align == 'up' %}desk_align_up{% else %}desk_align_down{% endif %} {% if st-desk_content_pos == 'left' %}desk_content_left{% else %}desk_content_right{% endif %}">
            {% render 'sales-marquee', block: scrolling_text_block %}
          </div>
        {% endif %}

        <animation-reveal
          class="imageWithTextImageContainer {% if  bg_foregound_color %} border-radius-only-image {% endif %}"
          aoi-type="scale"
          aoi-duration="0.4"
          aoi-amount="0.1"
        >
          {%- capture showMobileImage -%}
                                {%- if section.settings.mobile_image != blank -%}
                                    set-100-percentage-size-media tab-only
                                {%- else -%}
                                    set-100-percentage-size-media
                                {%- endif -%}
                                {%- endcapture -%}

          {% assign imagealt = section.settings.image.alt | default: '' %}
          {% assign imagealtmobile = section.settings.mobile_image.alt | default: '' %}

          {% if section.settings.image != blank or section.settings.mobile_image != blank %}
            {% if section.settings.mobile_image != blank and section.settings.image == blank %}
              {{
                section.settings.mobile_image
                | image_url: width: section.settings.mobile_image.width
                | image_tag:
                  loading: loading,
                  fetchpriority: fetchpriority,
                  class: 'set-100-percentage-size-media mobile-sm-only',
                  widths: '512,992,1024',
                  sizes: '(min-width:1024px) 1024px,(min-width:992px) 992px,512px',
                  alt: imagealtmobile
              }}
              <div class="tab-only h-100">{{ 'detailed-apparel-1' | placeholder_svg_tag }}</div>
            {% elsif section.settings.mobile_image == blank and section.settings.image != blank %}
              {{
                section.settings.image
                | image_url: width: section.settings.image.width
                | image_tag:
                  loading: loading,
                  fetchpriority: fetchpriority,
                  class: 'set-100-percentage-size-media tab-only',
                  widths: widths,
                  sizes: sizes,
                  alt: imagealt
              }}
              {{
                section.settings.image
                | image_url: width: section.settings.image.width
                | image_tag:
                  loading: loading,
                  fetchpriority: fetchpriority,
                  class: 'set-100-percentage-size-media mobile-sm-only',
                  widths: '512,992,1024',
                  sizes: '(min-width:1024px) 1024px,(min-width:992px) 992px,512px',
                  alt: imagealtmobile
              }}
            {% elsif section.settings.mobile_image == blank and section.settings.image == blank %}
              {{ 'detailed-apparel-1' | placeholder_svg_tag }}
            {% else %}
              {{
                section.settings.image
                | image_url: width: section.settings.image.width
                | image_tag:
                  loading: loading,
                  fetchpriority: fetchpriority,
                  class: showMobileImage,
                  widths: widths,
                  sizes: sizes,
                  alt: imagealt
              }}
              {{
                section.settings.mobile_image
                | image_url: width: section.settings.mobile_image.width
                | image_tag:
                  loading: loading,
                  fetchpriority: fetchpriority,
                  class: 'set-100-percentage-size-media mobile-sm-only',
                  widths: '512,992,1024',
                  sizes: '(min-width:1024px) 1024px,(min-width:992px) 992px,512px',
                  alt: imagealtmobile
              }}
            {% endif %}
          {% else %}
            {{ 'detailed-apparel-1' | placeholder_svg_tag }}
          {% endif %}
        </animation-reveal>
      </div>
    </div>
  </div>
  {% unless section.settings.full_width %}</div>{% endunless %}
</div>
{% unless section.settings.border_size == 'hide' %}
  {% if section.settings.border_position == 'both' or section.settings.border_position == 'bottom' %}
    {% unless section.settings.border_size == 'full_width' %}
      <div class="container">
    {% endunless %}
    <div class="spacer-wrapper color-{{ section.settings.color_scheme }}">
      <div
        class="spacer border-bottom"
      ></div>
    </div>
    {% unless section.settings.border_size == 'full_width' %}
      </div>
    {% endunless %}
  {% endif %}
{% endunless %}
{% schema %}
{
  "name": "Sales banner",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": false
    },
    {
      "type": "range",
      "label": "Content Width",
      "id": "content_width",
      "min": 420,
      "max": 1400,
      "unit": "px",
      "step": 20,
      "default": 520
    },

    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "2880 x 1280px (large) .jpg recommended"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile image",
      "info": "740 x 1100px (large) .jpg recommended. Default to desktop image."
    },
    {
      "type": "select",
      "id": "image_aspect_ratio",
      "label": "Image size",
      "options": [
        {
          "label": "Adapt to image",
          "value": "auto"
        },
        {
          "label": "Small",
          "value": "sm"
        },
        {
          "label": "Medium",
          "value": "md"
        },
        {
          "label": "Large",
          "value": "lg"
        },
        {
          "label": "Fill screen",
          "value": "fill"
        }
      ],
      "default": "lg"
    },

    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:settings_schema.global.section.padding.settings.padding_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:settings_schema.global.section.padding.settings.padding_bottom.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "border_size",
      "label": "Border",
      "options": [
        {
          "label": "Hide",
          "value": "hide"
        },
        {
          "label": "Full width",
          "value": "full_width"
        },
        {
          "label": "Fixed width",
          "value": "fixed_width"
        }
      ],
      "default": "hide"
    },
    {
      "type": "select",
      "id": "border_position",
      "label": "Border position",
      "options": [
        {
          "label": "Both",
          "value": "both"
        },
        {
          "label": "Top",
          "value": "top"
        },
        {
          "label": "Bottom",
          "value": "bottom"
        }
      ],
      "default": "both"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme-1",
      "label": "Color scheme"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "limit": 1,
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Sale heading"
        }
      ]
    },
    {
      "type": "sub_heading",
      "limit": 1,
      "name": "Subheading",
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "Sub heading",
          "default": "Sub heading"
        }
      ]
    },
    {
      "type": "paragraph",
      "limit": 1,
      "name": "Paragraph",
      "settings": [
        {
          "type": "text",
          "id": "paragraph",
          "label": "Content",
          "default": "Briefly describe what this sale is about."
        }
      ]
    },
    {
      "type": "button",
      "limit": 1,
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "link_text",
          "label": "Label",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        },
        {
          "type": "select",
          "id": "link_target",
          "label": "Open link in",
          "options": [
            {
              "label": "New tab",
              "value": "_blank"
            },
            {
              "label": "Same tab",
              "value": "_top"
            }
          ],
          "default": "_top"
        }
      ]
    },
    {
      "type": "circle_sales_badge",
      "limit": 1,
      "name": "Sales badge",
      "settings": [
        {
          "type": "select",
          "id": "badge_type",
          "label": "Icon type",
          "options": [
            {
              "value": "bolt",
              "label": "Bolt"
            },
            {
              "value": "dollar",
              "label": "Dollar"
            },
            {
              "value": "percentage",
              "label": "Percentage"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "icon-tag",
              "label": "Tag"
            }
          ],
          "default": "dollar"
        },
        {
          "type": "text",
          "id": "sale_text",
          "label": "Text",
          "default": "SALE SALE SALE SALE"
        },
        {
          "type": "range",
          "id": "sales_circle_font_size",
          "min": 14,
          "max": 30,
          "step": 1,
          "label": "Font size",
          "default": 23,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "sale_text_range",
          "min": 5,
          "max": 20,
          "step": 0.5,
          "label": "Letter spacing",
          "default": 18.5,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "sales_circle_speed",
          "min": 2,
          "max": 15,
          "step": 1,
          "label": "Rotating speed",
          "default": 8,
          "unit": "sec"
        },
        {
          "type": "header",
          "content": "Desktop"
        },
        {
          "type": "select",
          "id": "desk_content_align",
          "label": "Content alignment",
          "options": [
            {
              "value": "up",
              "label": "Top"
            },
            {
              "value": "down",
              "label": "Bottom"
            }
          ],
          "default": "up"
        },
        {
          "type": "select",
          "id": "desk_content_pos",
          "label": "Content position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "header",
          "content": "Mobile"
        },
        {
          "type": "select",
          "id": "mob_content_align",
          "label": "Content alignment",
          "options": [
            {
              "value": "up",
              "label": "Up"
            },
            {
              "value": "down",
              "label": "Down"
            }
          ],
          "default": "down"
        },
        {
          "type": "select",
          "id": "mob_content_pos",
          "label": "Content position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "right"
        },
        {
          "type": "color",
          "id": "circle_badge_style_icon_color",
          "label": "Icon color",
          "default": "#042436"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background",
          "default": "#EDE9A0"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "#042436"
        }
      ]
    },
    {
      "type": "scrolling_text_block",
      "limit": 1,
      "name": "Scrolling text",
      "settings": [
        {
          "type": "text",
          "id": "sale_text",
          "label": "Text",
          "default": "SALE",
          "info": "Limit text to maximum 10 letters"
        },
        {
          "type": "range",
          "id": "marquee_speed",
          "label": "Scroll speed",
          "min": 2,
          "max": 15,
          "step": 1,
          "unit": "sec",
          "default": 10
        },
        {
          "type": "header",
          "content": "Desktop"
        },
        {
          "type": "select",
          "id": "desk_content_align",
          "label": "Content alignment",
          "options": [
            {
              "value": "up",
              "label": "Up"
            },
            {
              "value": "down",
              "label": "Down"
            }
          ],
          "default": "up"
        },
        {
          "type": "select",
          "id": "desk_content_pos",
          "label": "Content position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "right"
        },
        {
          "type": "header",
          "content": "Mobile"
        },
        {
          "type": "select",
          "id": "mob_content_align",
          "label": "Content alignment",
          "options": [
            {
              "value": "up",
              "label": "Up"
            },
            {
              "value": "down",
              "label": "Down"
            }
          ],
          "default": "up"
        },
        {
          "type": "select",
          "id": "mob_content_pos",
          "label": "Content position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "right"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background",
          "default": "#EDE9A0"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "#042436"
        }
      ]
    },
    {
      "type": "countdown_timer",
      "name": "Timer",
      "limit": 1,
      "settings": [
        {
          "type": "number",
          "id": "start_year",
          "label": "Year",
          "default": 2024
        },
        {
          "type": "select",
          "id": "start_month",
          "label": "Month",
          "options": [
            {
              "value": "1",
              "label": "January"
            },
            {
              "value": "2",
              "label": "February"
            },
            {
              "value": "3",
              "label": "March"
            },
            {
              "value": "4",
              "label": "April"
            },
            {
              "value": "5",
              "label": "May"
            },
            {
              "value": "6",
              "label": "June"
            },
            {
              "value": "7",
              "label": "July"
            },
            {
              "value": "8",
              "label": "August"
            },
            {
              "value": "9",
              "label": "September"
            },
            {
              "value": "10",
              "label": "October"
            },
            {
              "value": "11",
              "label": "November"
            },
            {
              "value": "12",
              "label": "December"
            }
          ],
          "default": "7"
        },
        {
          "type": "select",
          "id": "start_day",
          "label": "Day",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            },
            {
              "value": "4",
              "label": "4"
            },
            {
              "value": "5",
              "label": "5"
            },
            {
              "value": "6",
              "label": "6"
            },
            {
              "value": "7",
              "label": "7"
            },
            {
              "value": "8",
              "label": "8"
            },
            {
              "value": "9",
              "label": "9"
            },
            {
              "value": "10",
              "label": "10"
            },
            {
              "value": "11",
              "label": "11"
            },
            {
              "value": "12",
              "label": "12"
            },
            {
              "value": "13",
              "label": "13"
            },
            {
              "value": "14",
              "label": "14"
            },
            {
              "value": "15",
              "label": "15"
            },
            {
              "value": "16",
              "label": "16"
            },
            {
              "value": "17",
              "label": "17"
            },
            {
              "value": "18",
              "label": "18"
            },
            {
              "value": "19",
              "label": "19"
            },
            {
              "value": "20",
              "label": "20"
            },
            {
              "value": "21",
              "label": "21"
            },
            {
              "value": "22",
              "label": "22"
            },
            {
              "value": "23",
              "label": "23"
            },
            {
              "value": "24",
              "label": "24"
            },
            {
              "value": "25",
              "label": "25"
            },
            {
              "value": "26",
              "label": "26"
            },
            {
              "value": "27",
              "label": "27"
            },
            {
              "value": "28",
              "label": "28"
            },
            {
              "value": "29",
              "label": "29"
            },
            {
              "value": "30",
              "label": "30"
            },
            {
              "value": "31",
              "label": "31"
            }
          ],
          "default": "27"
        },
        {
          "type": "select",
          "id": "start_hours",
          "label": "Hours",
          "options": [
            {
              "label": "12 AM (Midnight)",
              "value": "0"
            },
            {
              "label": "1 AM",
              "value": "1"
            },
            {
              "label": "2 AM",
              "value": "2"
            },
            {
              "label": "3 AM",
              "value": "3"
            },
            {
              "label": "4 AM",
              "value": "4"
            },
            {
              "label": "5 AM",
              "value": "5"
            },
            {
              "label": "6 AM",
              "value": "6"
            },
            {
              "label": "7 AM",
              "value": "7"
            },
            {
              "label": "8 AM",
              "value": "8"
            },
            {
              "label": "9 AM",
              "value": "9"
            },
            {
              "label": "10 AM",
              "value": "10"
            },
            {
              "label": "11 AM",
              "value": "11"
            },
            {
              "label": "12 PM (Noon)",
              "value": "12"
            },
            {
              "label": "1 PM",
              "value": "13"
            },
            {
              "label": "2 PM",
              "value": "14"
            },
            {
              "label": "3 PM",
              "value": "15"
            },
            {
              "label": "4 PM",
              "value": "16"
            },
            {
              "label": "5 PM",
              "value": "17"
            },
            {
              "label": "6 PM",
              "value": "18"
            },
            {
              "label": "7 PM",
              "value": "19"
            },
            {
              "label": "8 PM",
              "value": "20"
            },
            {
              "label": "9 PM",
              "value": "21"
            },
            {
              "label": "10 PM",
              "value": "22"
            },
            {
              "label": "11 PM",
              "value": "23"
            }
          ],
          "default": "16"
        },
        {
          "type": "select",
          "id": "start_minute",
          "label": "Minute",
          "options": [
            {
              "value": "0",
              "label": "00"
            },
            {
              "value": "1",
              "label": "01"
            },
            {
              "value": "2",
              "label": "02"
            },
            {
              "value": "3",
              "label": "03"
            },
            {
              "value": "4",
              "label": "04"
            },
            {
              "value": "5",
              "label": "05"
            },
            {
              "value": "6",
              "label": "06"
            },
            {
              "value": "7",
              "label": "07"
            },
            {
              "value": "8",
              "label": "08"
            },
            {
              "value": "9",
              "label": "09"
            },
            {
              "value": "10",
              "label": "10"
            },
            {
              "value": "11",
              "label": "11"
            },
            {
              "value": "12",
              "label": "12"
            },
            {
              "value": "13",
              "label": "13"
            },
            {
              "value": "14",
              "label": "14"
            },
            {
              "value": "15",
              "label": "15"
            },
            {
              "value": "16",
              "label": "16"
            },
            {
              "value": "17",
              "label": "17"
            },
            {
              "value": "18",
              "label": "18"
            },
            {
              "value": "19",
              "label": "19"
            },
            {
              "value": "20",
              "label": "20"
            },
            {
              "value": "21",
              "label": "21"
            },
            {
              "value": "22",
              "label": "22"
            },
            {
              "value": "23",
              "label": "23"
            },
            {
              "value": "24",
              "label": "24"
            },
            {
              "value": "25",
              "label": "25"
            },
            {
              "value": "26",
              "label": "26"
            },
            {
              "value": "27",
              "label": "27"
            },
            {
              "value": "28",
              "label": "28"
            },
            {
              "value": "29",
              "label": "29"
            },
            {
              "value": "30",
              "label": "30"
            },
            {
              "value": "31",
              "label": "31"
            },
            {
              "value": "32",
              "label": "32"
            },
            {
              "value": "33",
              "label": "33"
            },
            {
              "value": "34",
              "label": "34"
            },
            {
              "value": "35",
              "label": "35"
            },
            {
              "value": "36",
              "label": "36"
            },
            {
              "value": "37",
              "label": "37"
            },
            {
              "value": "38",
              "label": "38"
            },
            {
              "value": "39",
              "label": "39"
            },
            {
              "value": "40",
              "label": "40"
            },
            {
              "value": "41",
              "label": "41"
            },
            {
              "value": "42",
              "label": "42"
            },
            {
              "value": "43",
              "label": "43"
            },
            {
              "value": "44",
              "label": "44"
            },
            {
              "value": "45",
              "label": "45"
            },
            {
              "value": "46",
              "label": "46"
            },
            {
              "value": "47",
              "label": "47"
            },
            {
              "value": "48",
              "label": "48"
            },
            {
              "value": "49",
              "label": "49"
            },
            {
              "value": "50",
              "label": "50"
            },
            {
              "value": "51",
              "label": "51"
            },
            {
              "value": "52",
              "label": "52"
            },
            {
              "value": "53",
              "label": "53"
            },
            {
              "value": "54",
              "label": "54"
            },
            {
              "value": "55",
              "label": "55"
            },
            {
              "value": "56",
              "label": "56"
            },
            {
              "value": "57",
              "label": "57"
            },
            {
              "value": "58",
              "label": "58"
            },
            {
              "value": "59",
              "label": "59"
            }
          ],
          "default": "0"
        },
        {
          "type": "select",
          "id": "hide_timer_on_ending",
          "label": "When timer expires...",
          "options": [
            {
              "value": "hide_on_completion",
              "label": "Hide section"
            },
            {
              "value": "set_timer_to_zero",
              "label": "Set timer to zero"
            }
          ],
          "default": "set_timer_to_zero"
        },
        {
          "type": "select",
          "id": "time_zone",
          "label": "Time zone",
          "options": [
            {
              "value": "shop_time_zone",
              "label": "Shop time zone"
            },
            {
              "value": "usr_local_time_zone",
              "label": "Users local time zone"
            }
          ],
          "default": "shop_time_zone",
          "info": "Select the time zone you want the countdown to be displayed in"
        },
        {
          "type": "color",
          "id": "text",
          "label": "Text",
          "default": "#042436"
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background",
          "default": "#EDE9A0"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Sales banner",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "sub_heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "button"
        },
        {
          "type": "countdown_timer"
        },
        {
          "type": "circle_sales_badge"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["*"]
  }
}
{% endschema %}
